@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

body {
    background-color: #495867;
}

h1, footer {
    color: white;
    font-variant: small-caps;
}

.quadrado {
    background-color: #c18c5d;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: inline-block;
}

.o {
    position: relative;
}
.o:after {
    content: "\2B55";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 100px;
    font-size: 40px;
}

.x {
    position: relative;
}
.x:after {
    content: "\274C";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 100px;
    font-size: 40px;
}
